*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    box-shadow: 2px solid grey;
    display:flex;
    justify-content: space-between;
}
.logo{
    margin-left: 10%;
}
img{
    height: 100px;
    display:inline;
}
.navbar{
    display: inline ;
    margin: 20px;
    margin-right: 10%;
    margin-top: 30px;
}
ul{
    display: flex;
}
li{
    text-decoration: none;
    margin-left: 20px;
}
li a{
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.mint-nft{
    color: #b843d6;
}