*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-page{
    height: 100vh;
    width: 100vw;
}
header{
    box-shadow: 2px solid grey;
    display:flex;
    justify-content: space-between;
}
.logo{
    margin-left: 10%;
}
img{
    height: 100px;
    display:inline;
}
.navbar{
    display: inline ;
    margin: 20px;
    margin-right: 10%;
    margin-top: 30px;
}
ul{
    display: flex;
}
li{
    text-decoration: none;
    margin-left: 20px;
}
li a{
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.mint-nft{
    color: #b843d6;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/images/first-section-background.svg") no-repeat;
    background-size: cover;
}
.main-title{
    font-size: 64px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}
.main-title span{
    color: #b843d6;
}
.main-subtitle{
    text-align: center;
    color: #666;
    font-size: 24px;
    margin-bottom: 65px;
}
#mint-nft-button{
    background-color: #b843d6;
    border-radius: 10px;
    margin-bottom: 40px;
}
#mint-nft-button h3{
    color: black;
    font-size: 30px;
    margin: 10px 20px;
}
.first img{
    margin-bottom: 40px;
}

/*second section --------------------------------------*/

.second{
    padding-top: 40px;
    background-color: #fafafa;
}

/*about --------------------------------------*/

/*course --------------------------------------*/

/*mint-nft --------------------------------------*/



/* footer --------------------------------------------- */

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.left .email{
    color:#b843d6;
    font-size: 16px;
    margin-left: 10px;
}

.right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.right h3{
    color: white;
}

.about{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box-text{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    z-index: 10;
    position: relative;
    margin-bottom: 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cointainer-cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
}

.card{
    height: 526px;
    padding: 32px;
    border-radius: 0.375rem;
    max-width: 24rem;
    border: 1px solid;
    border-color: #cccccc;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .icon {
    position: relative;
    background-color: #B843D6;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .card a{
      font-size: 16px;
      color: blue;
  }

  .h1-css{
      font-size: 37px;
      font-weight: 700;
      /* margin-bottom: 21px; */
  }

  .h3-css{
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
  }

  .saibamais-css{
      font-weight: 600;
  }

  .join{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
  }

  .going-to-create{
    line-height: 1.2;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 32px;
  }

  .type-of-art{
    font-weight: 500;
    color: #666666;
    font-size: 25px;
    margin-bottom: 10px;
  }