@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.first-page{
    height: 100vh;
    width: 100vw;
}
header{
    box-shadow: 2px solid grey;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 10%;
}
img{
    height: 100px;
    display:inline;
}
.navbar{
    display: inline ;
    margin: 20px;
    margin-right: 10%;
    margin-top: 30px;
}
ul{
    display: flex;
}
li{
    text-decoration: none;
    margin-left: 20px;
}
li a{
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.mint-nft-navbar{
    color: #00f0ff;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/fundo_azul.png") no-repeat;
    background-size: cover;
    min-height: 100%;
}
.main-title{
    font-size: 64px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}
.main-title span{
    color: #00f0ff;
    font-weight: 600;
}
.main-subtitle{
    text-align: center;
    color: #666;
    font-size: 24px;
    margin-bottom: 65px;
}
#mint-nft-button{
    border-radius: 10px;
    margin-bottom: 40px;
    background:linear-gradient(#bdfbff, #00f0ff);
}

#mint-nft-button:hover{
    cursor: pointer;
    background: linear-gradient(#00f0ff, #bdfbff);
}

#mint-nft-button h3{
    font-weight: 600;
    color: black;
    font-size: 30px;
    margin: 10px 20px;
}
.first img{
    margin-bottom: 40px;
}

/*second section --------------------------------------*/

.second{
    padding-top: 40px;
    background-color: #fafafa;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*about --------------------------------------*/

/*course --------------------------------------*/

.black-box{
    background-color: black;
    border-radius: 20px;
    display: flex;
    width: 75vw;
    margin-top: 80px;
    padding: 50px 80px; 
}

.course-left{
    width: 50%;
}

.course-left h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.course-left h1{
    color: white;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
}

.course-left .secundary-h2{
    color: #a5a5a5;
    font-weight: 300;
    line-height: 30px;
}

.course-left div{
    background-color: #00f0ff;
    color: black;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
}

.course-left div:hover{
    background-color: #a4f9ff;
    cursor: pointer;
}

.course-right{
    position: absolute;
    
}

.course-right img{
    position: relative;
    left: 600px;
    top: 200px;
    height: 400px;
    border-radius: 10px;
}

/*mint-nft --------------------------------------*/

.mint-nft{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mint-nft h2{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 500;
    color: #666;
}

.mint-nft h1{
    font-size: 64px;
    font-weight: 700;
    margin-top: 20px;
}

.mint-nft h3{
    margin-top: 28px;
    font-size: 24px;
    font-weight: 500;
    color: #666;
}

.nft-type{
    margin-top: 20px;
    width: 15vw;
    background:linear-gradient(#bdfbff, #00f0ff);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.nft-type:hover{
    cursor: pointer;
    background: linear-gradient(#00f0ff, #bdfbff);
}

.nft-type div{
    display: inline-block;
}

.p-nft-type{
    font-size: 36px;
    font-weight: 600;
}

.nft-type img{
    height: 48px;
}

.nft-image{
    margin-top: 40px;
}



/* footer --------------------------------------------- */

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.left .email{
    color:#00f0ff;
    font-size: 16px;
    margin-left: 10px;
}

.right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.right h3{
    color: white;
}

.about{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box-text{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    z-index: 10;
    position: relative;
    margin-bottom: 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cointainer-cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
}

.card{
    height: 526px;
    padding: 32px;
    border-radius: 0.375rem;
    max-width: 24rem;
    border: 1px solid;
    border-color: #cccccc;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .icon {
    position: relative;
    background-color: #00f0ff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .card a{
      font-size: 16px;
      color: blue;
  }

  .h1-css{
      font-size: 37px;
      font-weight: 700;
  }

  .h3-css{
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
  }

  .saibamais-css{
      font-weight: 600;
  }

  .join{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
  }

  .going-to-create{
    line-height: 1.2;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 32px;
  }

  .type-of-art{
    font-weight: 500;
    color: #666666;
    font-size: 25px;
    margin-bottom: 10px;
  }
